<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="serverSection" type="Beetle.Express.ServerSection, Beetle.Express" />
  </configSections>
  <log4net>
    <appender name="dataAccessLogFile" type="log4net.Appender.RollingFileAppender,log4net">
      <file value="logs/" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <datePattern value="yyyy-MM-dd&quot;.log&quot;" />
      <maximumFileSize value="1mb" />
      <staticLogFileName value="false" />
      <layout type="log4net.Layout.PatternLayout,log4net">
        <conversionPattern value="%d - %-5level - %c - %m%n" />
      </layout>
    </appender>
    <appender name="dataLogFile" type="log4net.Appender.RollingFileAppender,log4net">
      <file value="logs/Data/Data.log" />
      <appendToFile value="true" />
      <maximumFileSize value="50mb" />
      <maxSizeRollBackups value="1000" />
      <StaticLogFileName value="true" />
      <rollingStyle value="Size" />
      <layout type="log4net.Layout.PatternLayout,log4net">
        <conversionPattern value="%m%n" />
      </layout>
    </appender>
    <logger name="DefaultLogFile">
      <Level value="Error" />
      <appender-ref ref="dataAccessLogFile" />
    </logger>
    <logger name="DataLogFile">
      <appender-ref ref="dataLogFile" />
    </logger>
  </log4net>
  <serverSection xmlns="urn:Beetle.Express">
    <listens>
      <add name="TcpListener" type="TCP" port="10011" handler="HTTransfer.Core.SocketWrapper, HTTransfer" />
    </listens>
  </serverSection>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <appSettings>
    <add key="ServerIp" value="114.80.214.52" />
    <!--192.168.2.4-->
    <!--114.80.214.52-->
    <add key="ServerPort" value="10001" />
    <add key="UserId" value="htzqcs_tdf" />
    <!--htzq_tdf45-->
    <!--htxml_1-->
    <add key="Password" value="htzqcs_tdf" />
    <!--htzq_tdf45-->
    <!--htxml_1-->
    <add key="SubMarket" value="sh;sz" />
    <add key="RequestDate" value="0" />
    <add key="RequestTime" value="-1" />
    <add key="MaxWorkingThreads" value="10" />
    <add key="ListenPort" value="10011" />
    <add key="MarketOpenTime" value="00:00" />
    <add key="MarketCloseTime" value="23:59" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>