<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <connectionStrings>
    <add name="DB" providerName="System.Data.SqlClient" connectionString="server=192.168.1.10;database=China_Trade;User ID=sa;Password=rliao;Connect Timeout=3600;" xdt:Transform="Replace" xdt:Locator="Match(name)"/>
    <add name="DBTick" providerName="System.Data.SqlClient" connectionString="server=192.168.1.10;database=China_TradeTick;User ID=sa;Password=rliao;Connect Timeout=3600;" xdt:Transform="Replace" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <appSettings>
    <add key="TradeInterval" value="60" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="TradeTableName" value="dbo.stock1m" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="TradeTickTableName" value="dbo.stocktick"  xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  </appSettings>
</configuration>
