<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <log4net>
    <appender name="dataAccessLogFile" type="log4net.Appender.RollingFileAppender,log4net">
      <file value="logs/"/>
      <appendToFile value="true"/>
      <rollingStyle value="Date"/>
      <datePattern value="yyyy-MM-dd&quot;.log&quot;"/>
      <maximumFileSize value="1mb"/>
      <staticLogFileName value="false"/>
      <layout type="log4net.Layout.PatternLayout,log4net">
        <conversionPattern value="%d - %-5level - %c - %m%n"/>
      </layout>
    </appender>
    <appender name="dataLogFile" type="log4net.Appender.RollingFileAppender,log4net">
      <file value="logs/Data/Data.log"/>
      <appendToFile value="true"/>
      <maximumFileSize value="50mb"/>
      <maxSizeRollBackups value="1000"/>
      <StaticLogFileName value="true"/>
      <rollingStyle value="Size"/>
      <layout type="log4net.Layout.PatternLayout,log4net">
        <conversionPattern value="%m%n"/>
      </layout>
    </appender>
    <logger name="DefaultLogFile">
      <Level value="Error"/>
      <appender-ref ref="dataAccessLogFile"/>
    </logger>
    <logger name="DataLogFile">
      <appender-ref ref="dataLogFile"/>
    </logger>
  </log4net>
  <connectionStrings>
    <add name="DB" providerName="System.Data.SqlClient"
      connectionString="server=192.168.1.10;database=China_Trade;User ID=sa;Password=rliao;Connect Timeout=3600;"/>
    <add name="DBTick" providerName="System.Data.SqlClient"
      connectionString="server=192.168.1.10;database=China_TradeTick;User ID=sa;Password=rliao;Connect Timeout=3600;"/>
  </connectionStrings>
  <appSettings>
    <add key="ServerIp" value="127.0.0.1"/>
    <add key="ServerPort" value="10011"/>
    <add key="MaxWorkingThreads" value="10"/>
    <add key="TradeInterval" value="60"/>
    <add key="TradeTableName" value="dbo.stock1m"/>
    <add key="TradeTickTableName" value="dbo.stocktick"/>
    <add key="MarketOpenTime" value="00:00"/>
    <add key="MarketCloseTime" value="23:59"/>
  </appSettings>
</configuration>
